@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}
.sign {
  background-color: #ff9f0a;
  color: #000000;
  font-size: 25px;
}

.row {
  margin: 8px 0;
}
.row input {
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: solid;
  text-align: right;
  font-weight: bolder;
}
